<launch>

  <!--Gazebo empty world launch file-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    	<arg name="debug" value="false" />
    	<arg name="gui" value="true" />
    	<arg name="paused" value="false"/>
    	<arg name="use_sim_time" value="true"/><!--false-->
    	<arg name="headless" value="false"/>
    	<arg name="verbose" value="true"/>
  </include>

  <!--Robot Description from URDF-->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find ck9_gazebo)/urdf/ck9_gazebo.xacro"/>
  <param name="use_gui" value="true"/>

  <!--Nodes-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model ck9_gazebo" respawn="false" output="screen"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ck9_gazebo)/rviz/ck9_gazebo.rviz" required="true"/>

</launch>
